@import "../bower_components/bootstrap-stylus/stylus/bootstrap";

/* Put your CSS here */
html, body 
  margin: 40px 0

	.buttons 
		button
			width: 100%
			margin-bottom: 20px

	.subject-list
		height: 300px
		overflow-y: scroll
	.image_container
		position: relative 
		svg
			position: absolute
			top: 0px
			left: 0px
			z-index: 10
		.subject-image	
			position: absolute
			top: 0px
			left: 0px	
			z-index:0
		